<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
     <%- include('../partials/header') %>
    <div class="container">
         <h1>New Message</h1>
        <form method="POST" action="/new">
            <div class="message-name">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="message-text">
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" required>
            </div>
            <input class="submitBtn" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>